In [ ]:
import datatable

import pandas as pd
import numpy as np
from datetime import datetime
pd.options.display.max_columns = 100
from google.cloud import bigquery
from datetime import datetime
from datetime import date, timedelta
import sys
sys.path.append('/home/jupyter/aaaie-customer-personas/src')

from customer_personas.bq_utils import export_dataframe_to_bq, upload_data_to_gcs
from customer_personas.plotters import plot_model_coefficients, plot_distributions
from customer_personas.bq_utils import download_data, upload_data

from customer_personas.propensity import return_propensity_score_gowers_distance
from customer_personas.bq_utils import export_dataframe_to_bq, upload_data_to_gcs
from sklearn import preprocessing

from customer_personas.bq_utils import download_data, upload_data

import joblib

import matplotlib.pyplot as plt
import seaborn as sns

from pycaret.classification import * 
import math

# Movie Stats by Quarter - Number of views, average watch %, median watch % where customers watched 50% or more of the movie

In [ ]:
movie_stats_sql = \
'''
-- Query to get the number of views, average watch percentage, median watch percentage for Movies by Quarter 

DECLARE time_period_pivot_str STRING;

EXECUTE IMMEDIATE """
  CREATE TEMP TABLE MOVIE_STATS AS 

    WITH MOVIE_TABLE AS (
      SELECT
        tv_pgm_nm,
        tv_watch_max_pct,
        CONCAT(EXTRACT(YEAR FROM tv_pgm_watch_dly_sum_dt), '_Q', EXTRACT(QUARTER FROM tv_pgm_watch_dly_sum_dt)) AS time_period        
      FROM `cio-datahub-enterprise-pr-183a.ent_usage_rated_tv.bq_tv_program_watch_dly_sum` 
      WHERE 
        tv_pgm_watch_dly_sum_dt <> CURRENT_DATE() -- Need to have a date filter otherwise query wont run
        AND tv_media_catgy_txt='Movies'
        AND tv_media_subcatgy_txt <> 'Adults Only' -- No Adult Content
        AND tv_watch_max_pct > 50 -- Watched greater than 50% of the movie
        AND tv_pgm_lang_cd='en' -- ENGLISH Movies Only
    )

    SELECT 
      tv_pgm_nm,
      time_period,
      COUNT(*) as num_views,
      ROUND(MAX(median_watch_pct), 2) AS median_watch_pct,
      ROUND(AVG(tv_watch_max_pct), 2) AS average_watch_pct
      
    FROM (
      -- This sub query calculates the median using PERCENTILE_DISC() Function and cannot be GROUP BY in the same subquery
      SELECT
        *,
        PERCENTILE_DISC(tv_watch_max_pct, 0.5) OVER (PARTITION BY tv_pgm_nm, time_period) AS median_watch_pct
      FROM MOVIE_TABLE

    )
    GROUP BY tv_pgm_nm, time_period
    ORDER BY time_period ASC, COUNT(*) DESC
  """;

  SET time_period_pivot_str = (SELECT CONCAT('("', STRING_AGG(DISTINCT time_period, '", "'), '")') FROM MOVIE_STATS);

  EXECUTE IMMEDIATE format("""
  
    SELECT 
      *
    FROM MOVIE_STATS
    PIVOT(
        MAX(num_views) AS num_views,
        MAX(average_watch_pct) AS average_watch_pct,
        MAX(median_watch_pct) AS median_watch_pct
        FOR time_period in %s
    )
    """, time_period_pivot_str
  );

'''

In [ ]:
client=bigquery.Client()

In [ ]:
movie_stats = client.query(movie_stats_sql).to_dataframe()

In [ ]:
movie_stats.head()

## Queries to get most watched movies by movie - Self Join

In [ ]:
movies_test_sql = \
'''
SELECT
    tv_pgm_nm,
    tv_acct_extrnl_id
    --CONCAT(EXTRACT(YEAR FROM tv_pgm_watch_dly_sum_dt), '_Q', EXTRACT(QUARTER FROM tv_pgm_watch_dly_sum_dt)) AS time_period        
FROM `cio-datahub-enterprise-pr-183a.ent_usage_rated_tv.bq_tv_program_watch_dly_sum` 
WHERE 
    tv_pgm_watch_dly_sum_dt = '2022-08-01' -- Need to have a date filter otherwise query wont run
    AND tv_media_catgy_txt='Movies'
    AND tv_media_subcatgy_txt <> 'Adults Only' -- No Adult Content
    AND tv_watch_max_pct > 50 -- Watched greater than 50% of the movie
    AND tv_pgm_lang_cd='en' -- ENGLISH Movies Only
ORDER BY tv_acct_extrnl_id
'''

In [ ]:
movies_df=client.query(movies_test_sql).to_dataframe()

In [ ]:
movies_df.loc[movies_df.tv_acct_extrnl_id=='100000414259']

In [ ]:
%%bigquery movies_most_watched_df
WITH MOVIE_WATCH_STAGE AS (
    SELECT
        A.tv_pgm_nm AS MOVIE,
        B.tv_pgm_nm AS MOST_WATCHED,
        A.tv_acct_extrnl_id AS ID
                
    FROM `cio-datahub-enterprise-pr-183a.ent_usage_rated_tv.bq_tv_program_watch_dly_sum` A
    INNER JOIN `cio-datahub-enterprise-pr-183a.ent_usage_rated_tv.bq_tv_program_watch_dly_sum` B
    ON A.tv_acct_extrnl_id = B.tv_acct_extrnl_id AND A.tv_pgm_nm <> B.tv_pgm_nm
    WHERE 
        A.tv_pgm_watch_dly_sum_dt > '2022-01-01' -- Need to have a date filter otherwise query wont run
        AND A.tv_media_catgy_txt='Movies'
        AND A.tv_media_subcatgy_txt <> 'Adults Only' -- No Adult Content
        AND A.tv_watch_max_pct > 50 -- Watched greater than 50% of the movie
        AND A.tv_pgm_lang_cd='en' -- ENGLISH Movies Only

        AND B.tv_pgm_watch_dly_sum_dt > '2022-01-01' -- Need to have a date filter otherwise query wont run
        AND B.tv_media_catgy_txt='Movies'
        AND B.tv_media_subcatgy_txt <> 'Adults Only' -- No Adult Content
        AND B.tv_watch_max_pct > 50 -- Watched greater than 50% of the movie
        AND B.tv_pgm_lang_cd='en' -- ENGLISH Movies Only

),

MOVIE_WATCH AS (
    SELECT 
        MOVIE,
        MOST_WATCHED,
        COUNT(DISTINCT ID) AS num_views,
        DENSE_RANK() OVER (PARTITION BY MOVIE ORDER BY COUNT(DISTINCT ID) DESC) AS rank
    FROM MOVIE_WATCH_STAGE
    GROUP BY MOVIE, MOST_WATCHED
)

SELECT *
FROM MOVIE_WATCH
WHERE rank <= 5
ORDER BY MOVIE, rank

In [ ]:
movies_most_watched_df

ID's that watched Red Dawn, see number of these people who also watched S.W.A.T

In [ ]:
movies_df.loc[movies_df.tv_pgm_nm=='Red Dawn'].tv_acct_extrnl_id

Matches Query from BQ

In [ ]:
movies_df.loc[(movies_df.tv_pgm_nm=='S.W.A.T.') & 
              (movies_df.tv_acct_extrnl_id.isin(movies_df.loc[movies_df.tv_pgm_nm=='Red Dawn'].tv_acct_extrnl_id.unique()))].tv_acct_extrnl_id.nunique()